main {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background-color: aliceblue;
    padding: 2rem;
}

main > section:first-child{
    color: white;
}

main section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

@media screen and (max-width:425px) {
    section#results{
        flex: 100%;
    }
}

button {
    cursor: pointer;
}

#results {
    background-color: red;
    padding: 1rem 2rem 2rem 2rem;
}


#results p span:first-child {
    display: flex;
    gap: 0.25rem;
    float: left;
}

#results p span:nth-child(2){
    display: flex;
    float: right;
}