:root {
 --primary-accent: hsl(25, 97%, 53%); 
 --primary-text: hsl(0, 0%, 100%);
 --primary-bg: hsl(216, 12%, 8%);
 --primary-bg-second: hsl(217, 12%, 63%);
 --rating-bg:  hsl(213, 19%, 18%);

 font-size: 15px;

}
* {
  margin:0;
}


html, body {
  background-color: black;
  box-sizing: border-box;
  color:#141519;
  height:100%;
}

body {
  display: flex;
  flex-direction: column;
}


#star::after {
  background: var(--rating-bg);
  border-radius: 50%;
  width: 100%;
  content: '\2605';
  color: var(--primary-accent);
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

p.rating{
  word-wrap: normal;
}

input[type='submit'] {
  border-radius: 20px;
  border: 0px;
  width: 100%;
  color: white;
  background-color: var(--primary-accent);
  padding: 5%;
  margin-block-start: 2rem;
  text-transform: uppercase;
  font:inherit;
  cursor: pointer;
}

fieldset {
  display: flex;
  justify-content: space-between;
  border: 0px;
  padding: 0px;
}


fieldset input[type='radio'] {
  border-radius: 40%;
  background-color: var(--primary-bg-second);
  display:none;
}

fieldset label:hover{
  background-color: var(--primary-bg-second)
}
fieldset label {
  cursor: pointer;
  color: white;
  background-color:var(--rating-bg);
  border-radius: 50%;
  border: red 1px;
  padding: 1rem;
  height: 0.95rem;
  display: inline-block;
}

input[type='submit']:hover {
  border-radius: 20px;
  border: 0px;
  width: 100%;
  color: var(--primary-accent);
  background-color: var(--primary-text);
  padding: 5%;
  margin-block-start: 2rem;
  text-transform: uppercase;
  font:inherit;
  cursor: pointer;
}

fieldset input[type='radio']:checked + label{
  background-color: orange;
  transition: 0.2s ease;
}

h1 {
  color: white;
}

p {
  color: white;
}

main {
  margin: auto;
  display:flex;
  flex-direction:column;
  min-width: 30vh;
  background-color: var(--primary-bg);
  border-radius: 12.5%;
}


main > * {
  padding: 5%;
}


.rating {
  opacity: 1;
  transition: opacity 0.5s;
}

.wrapper-height-auto {
  display: flex;

}

.wrapper-height-auto .thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

p.selected-rating {
  border: none;
  border-radius: 12px;
  color: var(--primary-accent);
  background-color:var(--rating-bg);
  padding: 0.5rem;
  text-align: center;
  width: 60%;
}

em.selected-rating {
  font-style: normal;
}

@media (min-width: 700px){ 
  main {
    width: 40vh;
  }
}


