body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

main {
    background-color: red;
    width: 40vw;
    border-radius: 12px 12px 45px 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    main > section {
    width: 60%;
}

form {
    padding-block-start: 2rem;
    display: flex;
}

form input {
    width: 4rem;
    flex-basis: 10%;
}

form label,
form label input {
    display: block;
}

section.age {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
}

hr {
    width: 99%;
}