:root {
  --purple: hsl(259, 100%, 65%);
  --red: hsl(0, 100%, 67%);

  --black-off: hsl(0, 0%, 8%);
  --white: hsl(0, 0%, 100%);
  --white-off: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
}

body {
  font-family: 'Poppins', 'sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--white-off);
  height: 100vh;
}

main {
  background-color: var(--white);
  width: min(40vw, 100vw);
  border-radius: 12px 12px 135px 12px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section {
  width: 60%;
}

form {
  padding-block-start: 2rem;
  display: flex;
  flex-wrap: wrap;
}

form input {
  width: 6rem;
  flex-basis: 10%;
  font-size: 32px;
}

form label {
  text-transform: uppercase;
  color: var(--light-grey);
}

form label,
form label input {
  display: block;
  margin-inline-end: 1.5rem;
}

label input +p {
  display: none;
  text-transform: none;
  font-family: inherit;
  font-style: italic;
  color: var(--red);
}

label input:focus-visibles {
  border: 1px solid blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.invalid:required:invalid{
  border: 1px solid var(--red);
}

section.age {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: flex-start;
}

section.age span {
  font-size: 3rem;
  color: var(--black-off);
  font-family: 'Poppins', 'sans-serif';
  font-style: italic;
  font-weight: 700;
}

section.age span strong {
  color: var(--purple);
}

span.line-break {
  display: flex;
  width: inherit;
  align-self: flex-end;
}

span img {
  background: var(--purple);
  border-radius: 50%;
  padding: 1rem;
  margin-inline-end: 1rem;
}

span hr {
  margin-inline: 1rem;
  width: 90%;
  height: 0;
  align-self: center;
  transform: rotate(-180deg);
}

@media screen and (max-width: 375px) {

  main {
    width: 100%;
    gap: 0.5rem;
  }

  section.age span strong {
    display:block;
  }

  main > section > form {
    display: block;
  }

  span.line-break {
    position: relative;
    justify-content: center;
  }

  span.line-break img {
    z-index: 1;
  }

  span.line-break hr {
    position: absolute;
    z-index: 0;
  }
}
